.selectorItem, .selectorItemClicked {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background: silver;
    text-align: center;
    cursor: pointer;
}

.selectorItemClicked {
    background: #98F1FF;
}

.sudokuRow {
    display: table-row;
    min-width: 360px;
}

.sudokuCell {
    display: table-cell;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    background: #FFDA76;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
}
