html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table, td, tr {
  border-collapse: collapse;
  font-family: sans;
}

table.sudoku, .selector {
    border: 2px solid #4F2400;
    margin: 10px;
}

.sudoku td, .selector td {
  border: 2px solid #4F2400;
/*
  min-width: 35px;
*/
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #4F2400;
}

table.helper, table.innerHelper {
    border: 0;
}

table.helper {
    border: 2px solid #4F2400;
    margin: 10px;
    cursor: pointer;
}

table.helper[on='false'] {
    background: #FFECB6;
}

table.helper[on='true'] {
    background: #7CD3EF;
}

.helper td, .innerHelper td {
    border: 0;
    width: 12px;
    height: 11px;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.innerHelper td:nth-child(3n+1) {
    border: 0 !important;
}

.innerHelper td:last-child {
    border: 0 !important;
}

.innerHelper tr:first-child {
    border: 0 !important;
}

.innerHelper tr:nth-child(3n) {
    border: 0 !important;
}

.sudoku td:nth-child(3n+1) {
  border-left: 5px solid #4F2400;
}

.sudoku td:last-child {
  border-right: 5px solid #4F2400;
}

.sudoku tr:nth-child(3n){
  border-bottom: 5px solid #4F2400;
}

.sudoku tr:first-child {
  border-top: 5px solid #4F2400;
}


.sudokuCell, .selectorCell {
/*
    border: 2px solid gray;
*/
    background: #FFECB6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.selectorCellHighlight {
    background: #7CD3EF;
}

.selectorCellDisabled {
    background: #BFBFBF;
    color: #949494;
}

.sudokuCellLocked {
    background: #F1C85A;
}

.sudokuCellHighlight {
    background: #7CD3EF;
}


/* to be removed */


#msg {
    color: red;
}

#msg2 {
    color: green;
}

#msg3 {
    color: blue;
}
